.top-menu{
    width: 100px;
    height: 500px;
    margin-left:100px;
    margin-top: 160px;
    float: left;
    
}
.top-menu ul{
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid aqua;
    background-color: white;
    padding-left: 0px;
    width: 100%;
    height: 100%;
}
.top-menu ul li{
    font: -webkit-control;
    font-weight: bold;
    text-transform: uppercase;
    width: 100px;
    height: 100px;
    list-style-type: none;
}
.top-menu ul li img{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    margin-left: 25px;
}
.top-menu ul li.active{
    background-color: aqua;
}
.top-menu ul li p{
    padding-top: 20px;
    text-align: center;
}
.top-menu ul li:hover{
    -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
    background-color: aqua;
    cursor: grab;
}

.profile{
    margin-left: 10px;
    height: 700px;
    margin-top: 150px;
    width: 400px;
    float: left;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid aqua;
    background-color: white;
    z-index: 999;
    position: relative;
    display: block;
}

.behind-background{
    width: 100%;
    height: 35%;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.background-profile{
    width: 100%;
    height: 100%;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.avatar-profile{
    width:100%;
    height:100%;
    border-radius: 100%;
    border: 2px solid white;
}

.avatar{
    width: 150px;
    height: 150px;
    margin-left: 125px;
    margin-top: -60px;
    border-radius: 100%;
}

.name-profile{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
    color: aqua;
}

.title-job{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    color: aqua;
}

.social-icon{
    margin-top: 10px;
}

.social-icon ul{
    white-space: nowrap;
}

.social-icon ul li{
    list-style-type: none; 
    width: 20px;
    height: 20px;
    margin-left: 110px;
}


.content{
    z-index: 10;
    margin-left: -20px;
    height: 700px;
    margin-top: 170px;
    width: 800px;
    float: left;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid aqua;
    background-color: white;
    display: block;
}
@media only screen and (max-width: 600px) {
    .top-menu{
        margin-top: 0px;
        margin-left: 0px;
        width: 600px;
    }

    .top-menu ul{
        white-space: nowrap;
    }
  }
  
