body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    top: 0;
}

div {
    -webkit-tap-highlight-color: transparent;
}

div {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.language-background {
    position: absolute;
    z-index: 2;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
}

.language-background  img{
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.background {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("background_v2/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    z-index: 1;
}

.popup-background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0px;
    left: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto
}

.popup-contact {
    width: 40%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    display: flex;
    position: relative;
    margin: 150px auto 0px;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
}

.popup-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.popup-wrapper .shipping {
    position: absolute;
    width: 20%;
    height: auto;
    top: 30%;
    margin-left: -500px;
    transition: all 0.3s ease-in-out;
    z-index: 4;
}

.popup-contact .left-image {
    width: 35%;
    height: 100%;
    overflow: hidden;
}

.popup-contact .left-image img {
    width: 100%;
    height: 100%;
}


.popup-contact .right-input {
    width: 65%;
    height: 100%;
    overflow: hidden;
    padding-left: 50px;
}

.popup-contact .right-input .label-contact {
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}

.right-input .contact-input {
    width: 65%;
    height: 100%;
    float: right;
    margin: auto 20px auto auto;
    padding-left: 10px;
    font-family: sans-serif;
}

.submit-contact {
    border-radius: 10px;
    background-color: #f2b4c0;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: white;
    width: 70%;
    text-align: center;
}

.submit {
    margin: auto 20px auto auto;
    padding-left: 10px;
    font-family: sans-serif;
    float: right;
    width: 70%;
}

.row-input {
    display: flex;
    height: 7%;
    flex-direction: row;
    align-items: center;
    margin: 20px auto 0;
}

.row-input p {
    margin-right: 10px;
    float: left;
}

.choose-language-popup {
    width: 350px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    z-index: 99;
    top: 150px;
    background-color: dodgerblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: "Al Bayan";
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);

}

.choose-language-popup img, .choose-language-popup p {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}

.choose-language-popup img {
    margin-top: 10px;
    width: 50px;
    height: 35px;
}

.choose-language-popup img:hover {
    width: 60px;
    height: 40px;
    cursor: pointer;
    border: 1px solid white;
}

.information-table {
    width: 60%;
    height: 80%;
    position: absolute;
    background-color: white;
    margin: 0 auto 0 -500px;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    overflow: hidden;
}

.information-table-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.information-table .header-information {
    font-family: inherit;
    text-align: center;
    width: 100%;
    height: 15%;
    font-size: 17px;
    border-bottom: 1px solid black;
}

.information-table .header-information p {
    padding: 0 20%;
}

.information-table .cancel-btn {
    width: 1.5%;
    height: 2%;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.information-table .content-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.information-table-wrapper .download {
    margin-top: 20px;
    font-family: inherit;
}

.information-table-wrapper .download-img {
    width: 10%;
    height: auto;
    margin-top: 25%;
    cursor: pointer;
}

.information-table .content-information .left-block {
    height: 100%;
    width: 20%;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    display: flex;
    flex-direction: column;
}

.information-table .left-block .row {
    margin-bottom: 15px;
    color: black;
    display: flex;
}

.information-table .left-block img {
    width: 60%;
    height: auto;
}

.information-table .right-block {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    float: left;
    align-items: start;
    padding-left: 20px;
    border-left: 1px solid black;
}

.information-table .right-block img {
    margin-right: 20px;
    margin-left: 0px;
}

.information-table .right-block .row {
    margin-bottom: 5%;
    color: black;
    text-align: left;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.information-table .right-block .header {
    font-size: 20px;
}

.information-table .right-block a {
    color: black;
}

.information-table .cancel-btn img {
    width: 100%;
    height: 100%;
}

.line-card {
    padding-top: 100px;
    width: 95%;
    height: 60%;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    margin: 0 auto 20px;
}

.social-info {
    width: 20%;
    height: 8%;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto 0;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    border-radius: 10px;
    background-color: #f2b4c0;
}



.left-block {
    font-size: 20px;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    padding-top: 0;
    font-family: inherit;
}

.left-block img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.right-block {
    cursor: pointer;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    padding-top: 0;
    font-family: inherit;
}

.right-block img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.card {
    border-radius: 10px;
    width: 20%;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.card:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
}

.card-header-wallpaper {
    height: 40%;
}

.card-header-wallpaper img {
    width: 100%;
    height: 100%;
}

.card-content {
    height: 40%;
    background-color: white;
    padding-top: 20px
}

.card-content .milestone {
    text-align: center;
    margin: 0;
    font-size: 15px;
}

.card-content .tabs-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-top: 5px;

}

@media only screen and (max-width: 1024px) {
    .card-content .tabs-text {
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        margin: 0;
        padding-top: 0px;

    }
}

.card-content .description {
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding-top: 25px;
    color: gray;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 1024px) {
    .card-content .description {
        text-align: center;
        font-size: 13px;
        margin: 0;
        padding-top: 15px;
        color: gray;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 1280px) {
    .card-content .description {
        text-align: center;
        font-size: 13px;
        margin: 0;
        padding-top: 10px;
        color: gray;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.card-footer {
    height: 20%;
    display: flex;
}

.line {
    border-right: 1px solid #443c3c;
    height: 100%;
}

.view-line {
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-footer .block {
    width: 33%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-top: 0;
    margin-top: -10px;
    font-family: inherit;
}

.card-footer .block .number {
    font-size: 15px;
    margin: 0;
    font-weight: bold;
}

.card-footer .block .text {
    font-size: 13px;
    margin: 0;
}

@media only screen and (max-width: 1024px) {
    .card-footer .block .text {
        font-size: 8px;
        margin: 0;
    }
}

.direct-button {
    display: flex;
    visibility: hidden;
}

.information-table .full-block {
    width: 100%;
}
.full-block * {
    box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.full-block  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.full-block  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.full-block .container {
    padding: 10px 25px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.full-block .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.full-block .left {
    left: 0;
}

/* Place the container to the right */
.full-block .right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.full-block .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 16px;
    border: medium solid #FF9F55;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #FF9F55;
}

/* Add arrows to the right container (pointing left) */
.full-block .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 16px;
    border: medium solid #FF9F55;
    border-width: 10px 10px 10px 0;
    border-color: transparent #FF9F55 transparent transparent;
}

/* Fix the circle for containers on the right side */
.full-block .right::after {
    left: -16px;
}

/* The actual content */
.full-block .content {
    padding: 10px 30px;
    background-color: #FF9F55;
    position: relative;
    border-radius: 6px;
}

.full-block .content h2 {
    font-size: large;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .full-block .timeline::after {
        left: 31px;
    }

    .full-block .content {
        padding: 1px 10px;
    }

    /* Full-width containers */
    .full-block .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 0;
    }
    .full-block .content h2 {
        margin-top: 5px;
        margin-bottom: -5px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .full-block .container::before {
        left: 60px;
        border: medium solid #FF9F55;
        border-width: 10px 10px 10px 0;
        border-color: transparent #FF9F55 transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .full-block .left::after, .full-block .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .full-block .right {
        left: 0;
    }
}

@media only screen and (max-width: 768px) {
    .social-info {
        width: 70%;
        height: 8%;
        z-index: 1;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0 auto 0;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        transform: scale(0);
        border-radius: 10px;
        background-color: #f2b4c0;
    }

    .direct-button {
        width: 50%;
        height: 7%;
        z-index: 1;
        position: relative;
        display: none;
        justify-content: center;
        flex-direction: row;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        transform: scale(0);
        border-radius: 10px;
        background-color: #d4635e;
        margin: 20px auto;
        visibility: visible;
    }

    .line-card {
        height: 70%;
        padding-top: 40px;
        display: block;
        margin: 0 auto 0;

    }

    .line-card .card {
        width: 90%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        position: absolute;
        height: 100%;
    }

    .line-card .card:hover {
        transition: none;
        transform: scale(1);
    }

    .information-table {
        width: 98%;
        left: 1%;
        height: 95%;
        top: 2.5%;
        margin: 0 0 0 0;
        justify-content: center;
    }

    .popup-contact {
        width: 98%;
    }

    .popup-contact .left-image {
        width: 0%;
    }

    .popup-contact .right-input {
        width: 100%;
    }

    .popup-contact .label-contact {
        text-align: center;
    }

    .card-content {
        padding-top: 10px;
    }

    .card-content .tabs-text {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        padding-top: 5px;

    }

    .card-content .milestone {
        text-align: center;
        margin: 0;
        font-size: 20px;
    }

    .card-content .description {
        text-align: center;
        font-size: 18px;
        margin: 0;
        padding-top: 5px;
        color: gray;
        padding-left: 10px;
        padding-right: 10px;
    }

    .card-footer .block .number {
        font-size: 20px;
        margin: 0;
    }

    .card-footer .block .text {
        font-size: 15px;
        margin: 0;
    }

    .direct-button .left-block {
        font-family: inherit;
        font-size: 15px;
        cursor: pointer;
    }

    .information-table .header-information {
        height: 23%;
    }

    .information-table .cancel-btn {
        width: 5.5%;
        height: 3%;
        margin-right: 7px;
        margin-top: 7px;
    }

    .information-table .left-block {
        font-size: 15px;
        width: auto;
        font-weight: bold;
    }

    .information-table .right-block .header {
        font-size: 15px;
        width: auto;
        font-weight: bold;
    }

    #tab-about-me {
        z-index: 3;
    }

    .information-table .header-information p {
        padding: 0 5%;
    }

    .information-table-wrapper .download-img {
        width: 30%;
        height: auto;
        margin-top: 50%;
    }
}